body, h1, p, a {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #000; /* All text in black */
}

.navbar, .footer {
    background-color: #fff;
    padding: 10px;
    text-align: center;
}

.navbar a, .footer a {
    text-decoration: none;
    margin: 0 10px;
    color: #000;
    display: inline-block;
}

.navbar {
    background: linear-gradient(to right, #66b3ff, #b19cd9); /* Lighter shades of blue and purple */
    padding: 10px 0;
    text-align: center;
}


/* Header Logo */
.header-logo {
    position: absolute;
    top: 5px;
    left: 10px;
    width: 200px; /* Set a specific width */
    height: 30px; /* Keeps the height proportional */
}

/* Media query for small mobile devices */
@media only screen and (max-width: 600px) {
    .header-logo {
        width: 80%; /* Adjust as needed */
    }

    .navbar a, .footer a {
        display: block;
        margin: 5px 0;
    }

    .hero-section {
        padding: 20px;
    }
}

/* Media query for larger mobile devices or tablets */
@media only screen and (max-width: 768px) {
    .header-logo {
        width: 60%; /* Adjust as needed */
    }
}

.hero-section {
    background-image: url('path-to-your-hero-image.jpg');
    background-size: cover;
    padding: 50px;
    text-align: center;
}

.hero-section h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

.button, .button.give {
    padding: 10px 20px;
    background-color: #e7e7e7; /* Default button background */
    color: #000; /* Button text color */
    text-decoration: none;
    display: inline-block;
    margin: 10px;
    border: none;
    cursor: pointer;
    font-weight: bold; /* Make button text bold */
}

.button.give {
    background-color: #4CAF50; /* Green background for 'Give Now' button */
}

.footer {
    background-color: #FFD700; /* Gold background */
    color: #000; /* Black text for footer */
    padding: 20px;
    text-align: center;
}

.content-spacing {
    height: 50px; /* Space between content and footer */
}

.footer .address {
    margin-top: 20px;
}

.header h1 {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    font-size: 5em; /* Adjust size as needed */
    font-weight: bold;
}

.content-section {
    display: flex;
    align-items: center;
    justify-content: center; /* Center the contents */
    text-align: left; /* Keeps text aligned to the left */
}

.text {
    flex: 1 0 auto; /* Gives the text block flexibility but doesn't force it to grow */
    max-width: 80%; /* Adjust this to control how centered you want the text block to be */
    margin: 0 auto; /* This centers the .text block itself */
}

.section-image {
    flex-shrink: 0; /* Prevent the image from shrinking */
    max-width: 200%; /* Decreases width; adjust based on your preference */
    max-height: 500px; /* New; adjust based on your preference to control height */
    margin-right: 10px; /* Space between the image and the text/buttons */
    object-fit: cover; /* Ensures the image covers the area without distorting aspect ratio */
}

.text-and-buttons {
    display: flex;
    flex-direction: column; /* Stack text and buttons vertically */
    align-items: center; /* Center-align the items */
    flex-grow: 1; /* Allows the container to grow and fill available space */
}

.text {
    text-align: center; /* Aligns text to the left */
    width: 100%; /* Ensure text occupies the full width of its container */
    margin-bottom: 20px; /* Adds space between the text and buttons */
}

.buttons-container {
    width: 100%;
    text-align: center;
    margin-top: 20px; /* Adds space above the buttons */
}

.buttons-container .button {
    background-color: #4CAF50; /* Green background for all buttons */
    color: #000; /* Button text color */
    text-decoration: none;
    display: inline-block;
    margin: 10px;
    border: none;
    cursor: pointer;
    font-weight: bold; /* Make button text bold */
}

.page-heading h1 {
    text-align: center;
    width: 80%;
    margin: 0 auto; /* Ensures margin is distributed equally on both sides */
    font-size: 3em;
    font-weight: bold;
}

.centered-text p {
    text-align: center;
    margin: 10px 0; /* Adjust if needed for visual spacing */
}

.footer a {
    font-weight: bold
}

.page-heading h2 {
    text-align: center;
    /* Additional styling here (e.g., font-size, color) */
}

.kazo-district-link {

    display: block; /* Allows margin to be applied */
    margin-top: 50px; /* Adds space above the link */
    font-weight: bold;

}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-size: contain; /* Adjust to your preference */
    background-position: center;
    background-repeat: no-repeat;
}



.background-section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    background-size: auto; /* Remove 'cover' */
    background-position: center;
    background-attachment: fixed;
    animation: fadeInOut 10s infinite;
}


@keyframes fadeInOut {
    0%, 100% { opacity: 0.5; }
    50% { opacity: 0.1; }
}

.section-image {
    width: 20%; /* or any specific width, e.g., 300px */
    height: 30%; /* maintains the aspect ratio */
     object-fit: cover; /* This prevents distortion */
}

.page-heading h1 {
            font-size: 34px;
        }
