<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Katugunda Foundation</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

 <div class="header">
        <img src="{{ url_for('static', filename='logo1.jpg') }}" alt="Katugunda Foundation Logo" class="header-logo">
    </div>

   <div class="navbar">
        <a href="/">Home</a>
        <a href="/about">About the Foundation</a>
        <a href="/projects">Projects</a>
        <a href="/join">Ways To Help</a>
        <a href="/join">Contact Us</a>
        <a href="#donate" class="button give">GIVE NOW</a>
    </div>

<div class="page-heading">
    <h1>Katugunda Foundation</h1>
</div>

<div class="content-section">
    <img src="{{ url_for('static', filename='ngo5.jpg') }}" alt="Image description" id="dynamic-image" class="section-image">
    <div class="text-and-buttons">
        <div class="text">
            <p>Katugunda Foundation stands as a beacon of hope for the underprivileged members of Kazo district, Uganda. These include children, orphans, women, disabled people, the poor, among others.</p>
                <p>Through collaboration with individuals, churches, and businesses, we address the pressing needs of the most vulnerable.</p>
            <p>We also engage in community development initiatives by creating a supportive environment where individuals can thrive and communities can flourish.</p>
            <p>Join us in our mission to uplift lives and create a brighter tomorrow.</p>
            <p>Together, we can make a difference.</p>
            <p>Donate today!</p>
        </div>
        <div class="buttons-container">
           <button class="button" onclick="window.location.href='/about';">OUR MISSION</button>

            <button class="button" onclick="window.location.href='/join';">DONATE TODAY</button>
        </div>

      <br>
<a href="https://kazo.go.ug/" class="kazo-district-link">Go to Kazo District</a>

    </div>
</div>

<!-- Space between content and footer -->
<div class="content-spacing"></div>

<footer class="footer">
    <div>
       <a href="/about">About Us</a>
        <a href="/about">Our Mission</a>
        <a href="/projects">Projects</a>
        <a href="#leadership" class="construction-link">Partners</a>
    </div>
 <div class="address">
    <p><strong>Contact:</strong> <a href="mailto:stephen.akandwanaho@gmail.com">stephen.akandwanaho@gmail.com</a></p>
</div>

</footer>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const constructionLinks = document.querySelectorAll('.construction-link');
        constructionLinks.forEach(link => {
            link.addEventListener('click', function (event) {
                event.preventDefault();
                alert("This page is still under construction.");
            });
        });
    });


// Pre-rendered array of image URLs
var images = [
    "{{ url_for('static', filename='ngo5.jpg') }}",
    "{{ url_for('static', filename='pic2.jpg') }}",
    "{{ url_for('static', filename='ngo4.jpg') }}",
    "{{ url_for('static', filename='ngo31.jpg') }}",
    "{{ url_for('static', filename='ngo1.jpg') }}",
    "{{ url_for('static', filename='pic4.jpg') }}"
];

function changeBackground() {
    var currentIndex = 0;
    setInterval(function() {
        document.body.style.backgroundImage = "linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('" + images[currentIndex] + "')";
        currentIndex = (currentIndex + 1) % images.length;
    }, 5000); // Change image every 5 seconds
}

window.onload = changeBackground;


</script>
</body>
</html>
