<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

 <div class="header">
        <img src="{{ url_for('static', filename='logo1.jpg') }}" alt="Katugunda Foundation Logo" class="header-logo">
    </div>

    <div class="navbar">
        <a href="/">Home</a>
        <a href="/about">About the Foundation</a>
        <a href="/projects">Projects</a>
        <a href="/join">Ways To Help</a>
        <a href="/join">Contact Us</a>
        <a href="#donate" class="button give">GIVE NOW</a>
    </div>

<div class="page-heading">
    <h2>JOIN US</h2>
</div>

<div class="content-section">

    <div class="text">
      <p>Your support is the cornerstone of change.
          <p>Together, we can lift spirits and elevate lives, paving the way for a future filled with hope and prosperity.
        <p>Every contribution, whether time, resources, or funds, is a step toward a brighter tomorrow.
    </p>
    </div>

</div>


 <div class="page-heading">
    <h2>DONATE TODAY</h2>
</div>

<div class="content-section">

    <div class="text">
  <P>Your generosity can transform lives.
        <P>Embrace the spirit of giving by supporting the Katugunda Foundation.
        <P>Join us in our mission to uplift the underprivileged and to light the way to a more compassionate, thriving world.

<P>Together, we can make a difference.
    </p>
    </div>

</div>


<footer class="footer">


    <a href="/">Home</a>
    <a href="/projects">Partners</a>

    <p>Contact: stephen.akandwanaho@gmail.com</p>
</footer>

</body>
</html>
