<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

 <div class="header">
        <img src="{{ url_for('static', filename='logo1.jpg') }}" alt="Katugunda Foundation Logo" class="header-logo">
    </div>

    <div class="navbar">
        <a href="/">Home</a>
        <a href="/about">About the Foundation</a>
        <a href="/projects">Projects</a>
        <a href="/join">Ways To Help</a>
        <a href="/join">Contact Us</a>
        <a href="#donate" class="button give">GIVE NOW</a>
    </div>

<div class="page-heading">
    <h2>PROJECTS: OUR WORK</h2>
</div>

<div class="content-section">

    <div class="text">
       <P>Our initiatives range from immediate relief efforts to long-term development programs, all designed with the well-being of the Kazo district's most vulnerable in mind.
        <P>Whether it's providing access to essential services, empowering through education, or fostering economic opportunities, we are there, working on the ground, making a tangible difference.
    </p>
    </div>

</div>




<footer class="footer">

<a href="/">Home</a>
    <a href="/">Partners</a>

    <p>Contact: stephen.akandwanaho@gmail.com</p>
</footer>

</body>
</html>
